# This is Git's per-user configuration file.
[user]
	name = Lokesh Mohanty
	email = lokesh1197@gmail.com

[includeIf "gitdir:~/Repositories/Office/"]
    path = ~/Repositories/Office/.gitconfig

[url "https://github.com/"]
	insteadOf = git://github.com/

[pull]
	rebase = true
