# This is Git's per-user configuration file.
[user]
	name = Lokesh Mohanty
	email = lokesh1197@gmail.com

[includeIf "gitdir:~/Official/"]
    path = ~/Official/.gitconfig

[pull]
	rebase = true
[github]
	user = lokesh1197
[commit]
	gpgsign = true
[init]
	defaultBranch = main
